<div class="page-header">
  <h1>Leaderboard <small>Average Scores</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Accuracy(%)</th>
      <th>WPM</th>
      <th>Time(s)</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @users.each do |user| %>
      <% if user.games.any? %>
      <tr>
        <th scope="row"><%= count %></th>
        <td><%=user.email.split('@')[0]%></td>
        <td><%= user.average_accuracy(user) %></td>
        <td><%= user.average_wpm(user) %></td>
        <td><%= user.average_time(user) %></td>
        <td><%= user.average_score(user) %></td>
      </tr>
      <% count += 1 %>
      <% end %>
    <% end %>
  </tbody>
</table>
