<h1>Hello <%=current_user.email%></h1>

    <div class="panel panel-default">
      <div class="panel-heading"><b>Average Summary</b></div>
      <div class="panel-body">
        <% if @user.games.any? %>
            Accuracy  <%= current_user.average_accuracy(current_user) %>
            WPM  <%= current_user.average_wpm(current_user) %>
            Score <%= current_user.average_score(current_user) %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Accuracy</th>
            <th>WPM</th>
            <th>Time</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
            <% @user.games.each do |game| %>
              <tr>
                <td><%=game.accuracy%></td>
                <td><%=game.wpm%></td>
                <td><%=game.duration%></td>
                <td><%=game.score %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
