<!DOCTYPE html>
<html>
  <head>
    <title>CodeyGonzalez</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/games" onfocus="tabs()">
            <img class="pull-left" width="30" src="/img/logo.png" alt="Brand">
            <span>Codey Gonzalez</span>
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/users">Leaderboard</a></li>
            <% if user_signed_in? %>
              <li><%= link_to "#{current_user.email}", user_path(current_user) %></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">
      <% if notice %>
        <div class="alert alert-info" role="alert"><%= notice %></div>
      <% end %>

      <% if alert %>
      <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-center">Developed with <i class="fa fa-heart" aria-hidden="true"></i> by
          <a target="_blank" href="https://github.com/sus111/">Suse</a>,
          <a target="_blank" href="https://github.com/mjosephmiller/">Mike</a>,
          <a target="_blank" href="https://github.com/agakow/">Aga</a>,
          <a target="_blank" href="https://github.com/malimichael/">Mali</a> and
          <a target="_blank" href="https://github.com/terrytilley/">Terry</a></p>
      </div>
    </footer>

    <script src="https://use.fontawesome.com/3e43ba005d.js"></script>

    <!-- <div class="tabs"><a href="#">Tabs</a></div> -->
    <!-- <script>
      function tabs() {
        console.log('focused!');
        $( ".tabs" ).click(function() {
          alert( "Handler for .click() called." );
        });
      }
    </script> -->
  </body>
</html>
